@model OnlineMarket.Models.Category

@{
	ViewData["Title"] = "Xác nhận xóa danh mục: " + Model.CategoryName;
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item">Trang chủ</a>
			<a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" class="breadcrumb-item">Danh sách danh mục</a>
			<span class="breadcrumb-item active">Xác nhận xóa danh mục: @Model.CategoryName</span>
		</nav>
	</div>
</div>

<div class="page-header no-gutters has-tab">
	<div class="d-md-flex m-b-15 align-items-center justify-content-between">
		<div class="media align-items-center m-b-15">
			<div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
				<img src="~/images/categories/@Model.Thumb" alt="@Model.Title">
			</div>
			<div class="m-l-15">
				<h4 class="m-b-0">@Model.CategoryName</h4>
				<p class="text-muted m-b-0">ID: @Model.CategoryId</p>
			</div>
		</div>

	</div>
	<h2 style="text-align: left;">Xác nhận xóa danh mục này?</h2>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#product-images">Ảnh đại diện</a>
		</li>
	</ul>
</div>

<div class="container-fluid">
	<div class="tab-content m-t-15">
		<div class="tab-pane fade active show" id="product-overview">
			<div class="card">
				<div class="card-body">
					<div class="table-responsive">
						<form asp-action="Delete" asp-route-id="@Model.CategoryId">
							<input type="hidden" asp-for="CategoryId" />
							<table class="product-info-table m-t-20">
								<tbody>
									<tr>
										<td>Tên danh mục:</td>
										<td class="text-dark font-weight-semibold">@Model.CategoryName</td>
									</tr>
									<tr>
										<td>Alias:</td>
										<td>@Model.Alias</td>
									</tr>
									<tr>
										<td>Trạng thái:</td>
										<td>
											<div class="checkbox">
												<input asp-for="Published" type="checkbox" />
												<label for="Published">Public</label>
											</div>
										</td>
									</tr>
									<tr>
										<div class="card">
											<div class="card-header">
												<h4 class="card-title">Thông tin mô tả</h4>
											</div>
											<div class="card-body">
												@Html.Raw(Model.Description)
											</div>
										</div>
									</tr>
									<tr>
										<td>Xác nhận xóa:</td>
										<td>
											<form asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@Model.CategoryId">
												<input type="hidden" asp-for="CategoryId" />
												<input type="submit" value="Xóa" class="btn btn-danger" />
												<a asp-action="Index" class="btn btn-primary btn-tone m-r-5">Quay lại danh sách</a>
											</form>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="product-images">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<img class="img-fluid" src="~/images/categories/@Model.Thumb" alt="@Model.Title">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>