@using PagedList.Core.Mvc
@using static System.Collections.Specialized.BitVector32
@model PagedList.Core.IPagedList<OnlineMarket.Models.Product>

@{
	int CurrentPage = ViewBag.CurrentPage;
	ViewData["Title"] = "Quản lý sản phẩm - Trang " + CurrentPage;
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item">Home</a>
			<span class="breadcrumb-item active">Danh sách sản phẩm - Trang @CurrentPage</span>
		</nav>
	</div>
</div>

<div class="card">
	<h2 style="text-align: left; margin-top: 20px; margin-left: 20px;">Quản lý sản phẩm</h2>
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<div class="input-affix m-v-10">
							<i class="prefix-icon anticon anticon-search opacity-04"></i>
							<input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-affix m-v-10">
							<select class="custom-select" id="txtCategoryID" name="txtCategoryID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
								<option selected>Chọn danh mục</option>
								<option value="0">Chọn tất cả</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<a class="btn btn-primary" asp-controller="AdminProducts" asp-action="Create"><span>Thêm sản phẩm</span></a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover e-commerce-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên sản phâm</th>
						<th>Danh mục</th>
						<th>Giá</th>
						<th>Tồn khỏ</th>
						<th>Trạng thái</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody id="records_table">
					@if (Model != null)
					{
						foreach (var item in Model)
						{
							<tr>
								<td>@item.ProductId</td>
								<td>@item.ProductName</td>
								<td>@item.Category.CategoryName</td>
								<td>@item.Price.Value.ToString("#,##0") VNĐ</td>
								<td>@item.UnitInStock</td>
								<td>
									@if (item.UnitInStock.Value > 0)
									{
										<div class="d-flex align-items-center">
											<div class="badge badge-success badge-dot m-r-10"></div>
											<div>In stock</div>
										</div>
									}
									else
									{
										<div class="d-flex align-items-center">
											<div class="badge badge-success badge-dot m-r-10"></div>
											<div>Out stock</div>
										</div>
									}
								</td>
								<td>
									<a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId">Chi tiết</a>
									<a class="btn btn-info btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId">Sửa</a>
									<a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId">Xóa</a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
			<div aria-label="Page navigation example">
				<ul class="pagination">
					<pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-route-CategoryID="@ViewBag.CurrentCategoryID" asp-action="Index" />
				</ul>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		$(document).ready(function() {
			jQuery("#txtCategoryID").change(function() {
				var categoryID = jQuery(this).children(":selected").attr("value");
				categoryID = parseFloat(categoryID);
				$('#txtCategoryID option').removeAttr('selected');
				$("#txtCategoryID > [value=" + categoryID + "]").attr("selected", "true");
				$.ajax({
					url: '/Admin/AdminProducts/Filter',
					datatype: "json",
					type: "GET",
					data: {
						CategoryID: categoryID
					},
					async: true,
					success: function(results) {
						if (results.status = "success")
							window.location.href = results.redirectUrl;
					},
					erron: function(xhr) {
						alert('error');
					}
				});
			});
			$("#keyword").keyup(function() {
				var strkeyword = $('#keyword').val();
				$.ajax({
					url: '/Admin/Search/FindProduct/',
					datatype: "json",
					type: "POST",
					data: { keyword: strkeyword },
					async: true,
					success: function(results) {
						$("#records_table").html("");
						$("#records_table").html(results);
					},
					error: function(xhr) {
						alert('error');
					}
				});
			});
		});
	</script>
}















